<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" class="no-js " lang="en-US"><head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }} : {{site.title}} {% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <!-- facebook OG Tags  -->
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
    <meta property="og:url" content="{{site.base_url}}" />
    <meta property="og:image" content="{{site.base_url}}/img/l-sym.png" />
    <meta property="books:gender" content="Male" /> 
    <!-- facebook OG Tags  -->
    <!-- for Twitter -->          
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
    <meta name="twitter:image" content="{{site.base_url}}/img/ebook.png" />
    <!-- for Twitter -->          
    <link rel="apple-touch-icon" sizes="57x57" href="{{site.base_url}}/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{site.base_url}}/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{site.base_url}}/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{site.base_url}}/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{site.base_url}}/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{site.base_url}}/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{site.base_url}}/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{site.base_url}}/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{site.base_url}}/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{site.base_url}}/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{site.base_url}}/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{site.base_url}}/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{site.base_url}}/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="{{site.base_url}}/img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{site.base_url}}/img/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel="stylesheet" id="jayjay-css" href="{{site.base_url}}/css/style.css" media="all">
    <link rel="stylesheet" href="{{site.base_url}}/css/font-awesome.css">
    <link rel="stylesheet" href="{{site.base_url}}/css/third-party.css">
    <link rel="stylesheet" href="{{site.base_url}}/css/normalize.css">
    <link rel="stylesheet" href="{{site.base_url}}/css/main.css">
    <link rel="stylesheet" href="{{site.base_url}}/css/custom.css">
    <script src="{{site.base_url}}/js/modernizr-2.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <script>
        var path = "{{site.base_url}}/";
        var errmsg ='<div class="error-info animated fadeInUp"> <span><span>O</span>ops!</span> <p>Something went wrong, please refresh the page or try again later.</p> </div>'
        var msg1 ="Please fill in all required fields";
        var msg2 = "Please wait. Processing";
        var msg3 = "Your e-mail has been successfully sent. Thank You!";
        var msg4 = "Failed to send your message. Please try later or contact me directly jeznacki13@gmail.com.";
        var msg5 = "Please note these are not my designs.";
        var msg6 = "Just the code.";
    </script>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=603150906504819&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
    </script>
    </head>