<div id="nav_bar">
    <a class="logo" rel="index" href="{{site.base_url}}">
        <img src="{{site.base_url}}/img/logo.png" alt="Wordpress Developer Logo, Web Developer Logo , Front End Developer Logo">
    </a>
    <nav class="en">
        <a rel="index" href="{{site.base_url}}/" class="home-link {% if page.title == 'Home' %} active{% endif %}"><i class="fa fa-home"></i></a>
        <a rel="about" href="{{site.base_url}}/about/" class="{% if page.title == 'About Me' %} active{% endif %}"><i class="fa fa-user-secret"></i></a>
        <a rel="skills" href="{{site.base_url}}/skills/" class="{% if page.title == 'My Skills' %} active{% endif %}"><i class="fa fa-code"></i></a>
        <a rel="gallery" href="{{site.base_url}}/portfolio/" class="{% if page.title == 'My Portfolio' %} active{% endif %}"><i class="fa fa-picture-o"></i></a>
        <a rel="contact" href="{{site.base_url}}/contact/" class="{% if page.title == 'Contact Me' %} active{% endif %}"><i class="fa fa-envelope-o"></i></a>
    </nav>
    <ul>
        <li><a href="https://twitter.com/lokeshpahal" target="_blank"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://in.linkedin.com/pub/lokesh-kumar/36/230/752" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="https://www.facebook.com/easymapbuilder" target="_blank"><i class="fa fa-facebook"></i></a></li>
        <li><a href="{{site.base_url}}/feed.xml" target="_blank"><i class="fa fa-rss"></i></a></li>
    </ul>
    <a id="mobile-link" href=""><i class="fa fa-bars"></i></a>
</div>